<header>
  <div class="container">
    <div class="logo">
      <h1>H.</h1>
    </div>
    <nav>
      <ul>
        <li>
          <a href="">Hotels</a>
        </li>
        <li>
          <a href="">Airlines</a>
        </li>
        <li>
          <a href="">Vacations</a>
        </li>
        <li>
          <a href="">Find more</a>
        </li>
      </ul>
    </nav>
    <h1 class="desciption">
      See The Unmatched Beauty Of The Greate Lakes
    </h1>
    <div class="img">
    </div>
  </div>
</header>
<main>
  <div id="feature">
    <div class="container">
      <h1>Features</h1>
      <h2>We're Taking it to the next level</h2>
      <div class="clo-feature">
        <div class="box">
          <img src="/assets/img/responsive.png" alt="Responsive layouy">
          <div class="description">
            <h1>Responsive Layout</h1>
            <p>The past few year have seen a dramtic change in the publicst few year have seen a dramtic change in the publicst
              few year have seen a dramtic change in the public perception of cosmetic sergery
            </p>
          </div>
        </div>
        <div class="box">
          <img src="/assets/img/diamond.png" alt="Responsive layouy">
          <div class="description">
            <h1>Responsive Layout</h1>
            <p>The past few year have seen a dramtic change in the publicst few year have seen a dramtic change in the publicst
              few year have seen a dramtic change in the public perception of cosmetic sergery
            </p>
          </div>
        </div>
        <div class="box">
          <img src="/assets/img/layers.png" alt="Responsive layouy">
          <div class="description">
            <h1>Responsive Layout</h1>
            <p>The past few year have seen a dramtic change in the publicst few year have seen a dramtic change in the publicst
              few year have seen a dramtic change in the public perception of cosmetic sergery
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="panel">
    <div class="container">
      <h1>Get Your Free Version</h1>
      <p>Having used count toner catridges for twenty years, there have been a lot of changes in the toner caridge market, The
        market todat is approximately a twnty billon dollar business.</p>
      <button class="button">download</button>
    </div>
  </div>
  <div class="boxes">
    <div class="container">
      <h1>Testimonials</h1>
      <div class="box">
        <div class="image">
          <img src="/assets/img/project-card (1).png" alt="Card">
        </div>
        <div class="description">
          <h1>LULU HOFFMAN</h1>
          <h2>Marketing Consultant at okodesign.net</h2>
          <p>
            If you are an entrepereur, you know that your success cannot depend on the opinions of onthers. LIke the wind opinions cahnge...like
            the weather, oponoons cahnge frequelty. the weather, oponoons cahnge frequelty. the weather, oponoons cahnge
            frequelty.
          </p>
          <ul>
            <li>
              <i class="fa fa-address-book"></i>
            </li>
            <li>
              <i class="fa fa-bank"></i>
            </li>
            <li>
              <i class="fa fa-cart-arrow-down"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="/assets/img/project-card (1).png" alt="Card">
        </div>
        <div class="description">
          <h1>LULU HOFFMAN</h1>
          <h2>Marketing Consultant at okodesign.net</h2>
          <p>
            If you are an entrepereur, you know that your success cannot depend on the opinions of onthers. LIke the wind opinions cahnge...like
            the weather, oponoons cahnge frequelty. the weather, oponoons cahnge frequelty. the weather, oponoons cahnge
            frequelty.
          </p>
          <ul>
            <li>
              <i class="fa fa-address-book"></i>
            </li>
            <li>
              <i class="fa fa-bank"></i>
            </li>
            <li>
              <i class="fa fa-cart-arrow-down"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="/assets/img/project-card (1).png" alt="Card">
        </div>
        <div class="description">
          <h1>LULU HOFFMAN</h1>
          <h2>Marketing Consultant at okodesign.net</h2>
          <p>
            If you are an entrepereur, you know that your success cannot depend on the opinions of onthers. LIke the wind opinions cahnge...like
            the weather, oponoons cahnge frequelty. the weather, oponoons cahnge frequelty. the weather, oponoons cahnge
            frequelty.
          </p>
          <ul>
            <li>
              <i class="fa fa-address-book"></i>
            </li>
            <li>
              <i class="fa fa-bank"></i>
            </li>
            <li>
              <i class="fa fa-cart-arrow-down"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="/assets/img/project-card (1).png" alt="Card">
        </div>
        <div class="description">
          <h1>LULU HOFFMAN</h1>
          <h2>Marketing Consultant at okodesign.net</h2>
          <p>
            If you are an entrepereur, you know that your success cannot depend on the opinions of onthers. LIke the wind opinions cahnge...like
            the weather, oponoons cahnge frequelty. the weather, oponoons cahnge frequelty. the weather, oponoons cahnge
            frequelty.
          </p>
          <ul>
            <li>
              <i class="fa fa-address-book"></i>
            </li>
            <li>
              <i class="fa fa-bank"></i>
            </li>
            <li>
              <i class="fa fa-cart-arrow-down"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="plans">
    <div class="container">
      <h1>Choose Your Plan</h1>
      <div class="card">
        <h1>Silver</h1>
        <h2>
          <span>$</span>49
          <br/>
          <span class="year">year</span>
        </h2>
        <p>Personal Account 25GB discpace 50 Uploads per da l Account 25GB discpace 50 Uploads per day</p>
        <button>PURCHASE</button>
      </div>
      <div class="card">
        <h1>Silver</h1>
        <h2>
          <span>$</span>49
          <br/>
          <span class="year">year</span>
        </h2>
        <p>Personal Account 25GB discpace 50 Uploads per da l Account 25GB discpace 50 Uploads per day</p>
        <button>PURCHASE</button>
      </div>
      <div class="card">
        <h1>Silver</h1>
        <h2>
          <span>$</span>49
          <br/>
          <span class="year">year</span>
        </h2>
        <p>Personal Account 25GB discpace 50 Uploads per da l Account 25GB discpace 50 Uploads per day
        </p>
        <button>PURCHASE</button>
      </div>
    </div>
  </div>
  <div id="portfolio">
    <div class="container">
      <h1>Protyfolio</h1>
      <div class="card">
        <img src="/assets/img/project-card (3).png" alt="Sky">
      </div>
      <div class="card">
        <img src="/assets/img/project-card (2).png" alt="Sky">
      </div>
      <div class="card">
        <img src="/assets/img/project-card (1).png" alt="Sky">
      </div>
      <div class="card">
        <img src="/assets/img/project-card.png" alt="Sky">
      </div>
      <div class="card">
        <img src="/assets/img/project-card copy (1).png" alt="Sky">
      </div>
      <div class="card">
        <div class="description">
          <h1>Scenery Photos</h1>
          <h2>By EVGENY METILAN</h2>
          <p>Wild Nature</p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/img/project-card (2).png" alt="Sky">
      </div>
    </div>
  </div>
  <div id="description">
    <div class="container">
      <div class="details">
        <h1>Gregory Francis</h1>
        <h2>Chief egnineer</h2>
        <p>I've started to work in company at 2009. Photographs are a way of preseving a momnent.Photographs are a way of preseving
          a momnent.Photographs are a way of preseving a momnent.Photographs are a way of preseving a momnent.Photographs
          are a way of preseving a momnent.Photographs are a way of preseving a momnent.Photographs are a way of preseving
          a momnent.Photographs are a way of preseving a momnent</p>
      </div>

    </div>
  </div>
  <div id="stays">
    <div class="container">
      <h1>Stay In Touch</h1>
      <div class="flex-container">
        <div class="form">
          <form action="">
            <input type="text" name="Name" placeholder="Name*">
            <input type="email" name="Email" placeholder="Email*">
            <input type="text" name="Message" placeholder="Message*">
            <br/>
            <button value="submit">SUBMIT</button>
          </form>
        </div>
        <div class="description">
          <ul>
            <li>
              <p>
                <i class="fa fa-cart-arrow-down"></i>
                &nbsp; 2300 W Arbutus Dr Citrus Springs, FL 34434.=, USA</p>
            </li>
            <li>

              <p>
                <i class="fa
                                                            fa-cart-arrow-down"></i>
                &nbsp; 2300 W Arbutus Dr Citrus Springs, FL 34434.=, USA</p>
            </li>
            <li>

              <p>
                <i class="fa
                                                            fa-cart-arrow-down"></i>
                &nbsp; 2300 W Arbutus Dr Citrus Springs, FL 34434.=, USA</p>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container">
    <div class="header">
      <div class="logo">
        <h1>Hofmann</h1>
        <p>Hoffman UI Kit was made to help you quickly create beatiful layouts of responsive websites.</p>
        <h2>
          &copy; 2016 Created by Goldenfox.
        </h2>
      </div>
      <div class="description">
        <nav>
          <ul>
            <li>
              <a href="">About Us</a>
            </li>
            <li>
              <a href="">Testimonials</a>
            </li>
            <li>
              <a href="">Documentation</a>
            </li>
            <li>
              <a href="">Explore</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
            <li>
              <a href="">Help</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
            <li>
              <a href="">News</a>
            </li>
            <li>
              <a href="">Privacy</a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
    <div class="footer">
      <form action="">
        <h1>Subscribe to our news</h1>
        <input type="text" placeholder="Your
                                            Email">
      </form>
      <div class="icon">
        <h1>Follow us</h1>
        <nav>
          <ul>
            <li>
              <i class="fa fa-anchor"></i>
            </li>
            <li>
              <i class="fa fa-asterisk"></i>
            </li>
            <li>
              <i class="fa
                                                        fa-audio-description"></i>
            </li>
            <li>
              <i class="fa fa-beer"></i>
            </li>
            <li>
              <i class="fa fa-bomb"></i>
            </li>
            <li>
              <i class="fa fa-bookmark"></i>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
